.win{
    position : absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    top: 10px;
    width: 130px;
    height: 30px;
    font-size: 14px;
    border-radius: 20px;
    color: #7B0DAE;


    /* Glass background */
  background: rgba(174, 90, 182, 0.5);

  /* Frosted glass blur */
  backdrop-filter: blur(19px);
  -webkit-backdrop-filter: blur(19px);

  /* Soft border */
  border: 1px solid rgba(255, 255, 255, 0.7);

  /* Glow + depth */
  box-shadow: 
    0 8px 25px rgba(0, 0, 0, 0.19),
    inset 0 1px 1px rgba(255, 255, 255, 0.4);
}