.btnviewmywork {
  padding: 10px 30px;
  background: linear-gradient(to right, #2184ff, #02b8e1, #55e0ff);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
.btndwcv {
  padding: 0px 30px;
  margin-top: 13px;
  height: 47px;
  background-color: transparent;
  border: 1px solid #f6fbff;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}
.btndwcv:hover {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
}
.btnviewmywork:hover {
  box-shadow: 0px 0px 15px #55e0ff;
}

.button {
  border: none;
  background-color: transparent;
  color: #f6fbff;
  font-size: 17px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
