:root{
    font-family: 'Istok Web';
    font-style: normal;
    color: aliceblue;
}
.skills{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.pagetitle{
    font-size: 70px;
    font-weight: 700;
    line-height: 72px;
}
.desc{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.frontend{
    padding: 10px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1); /* transparent */
  backdrop-filter: blur(3px); /* blur effect */
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.2);


}
.design{
     padding: 10px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1); /* transparent */
  backdrop-filter: blur(3px); /* blur effect */
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.2);
}

.subtitle{
    background: linear-gradient(to right, #2184FF,#02B8E1, #55E0FF);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 23px;
}

.skildesc{
    font-size: 18px;
}
