:root {
  font-family: "Istok Web";
  font-style: normal;
  color: aliceblue;
}
.skills {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.pagetitle {
  font-size: 70px;
  font-weight: 700;
  line-height: 72px;
}

.skillscontainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #161e32;
  width: 200px;
  height: 184px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #2184ff;
}
.skillscontainer:hover {
  box-shadow: 0px 0px 30px #2184ff;
}
.skillscontainer:hover .skillblock {
  box-shadow: 0px 0px 30px #2184ff;
}

.skillblock {
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  width: 35px;
  padding: 8px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #007acc, #003d66);
  transition: 0.3s ease;
  position: absolute;
  top: 40px;
}

.skillname {
  margin: 0;
  position: absolute;
  top: 90px;
  font-weight: 500;
}

.rateskill {
  width: 77%;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 70%;
}

.skillratingbar {
  width: 100%;
  background-color: #b5b5b5;
  text-align: center;
  color: white;
  border-radius: 20px;
}
.bar-1 {
  width: 90%;
  height: 7px;
  background: linear-gradient(to right, #007acc, #003d66);
  border-radius: 20px;
}
.ratevalue {
  color: #003d66;
}
