.about-me {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.all {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.myimage {
  width: 800px;
  height: 500px;
}

.left {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 26px;
  height: 100%;
  background-color: #161e32;
  padding: 45px;
  justify-content: center;
  border-radius: 50px;
  box-shadow: 0px 0px 10px #307fff;

  background: linear-gradient(to right, #161e32, #101727);
}

.corner {
  position: absolute;
  width: 90px;
  height: 90px;
  border-color: #307fff;
}
.top-left {
  top: -25px;
  left: -25px;
  border-top: 3px solid #307fff;
  border-left: 3px solid #307fff;
}

.top-right {
  top: -25px;
  right: -25px;
  border-top: 3px solid #307fff;
  border-right: 3px solid #307fff;
}

.bottom-left {
  bottom: -25px;
  left: -25px;
  border-bottom: 3px solid #307fff;
  border-left: 3px solid #307fff;
}

.bottom-right {
  bottom: -25px;
  right: -25px;
  border-bottom: 3px solid #307fff;
  border-right: 3px solid #307fff;
}

.title-left {
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 10px;
  padding: 0px;
}
.info-row {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.label {
  font-size: 13px;
  font-weight: 580;
  margin: 0px;
  padding: 0px;
  color: #307fff;
}
.sub-title-left {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

.value {
  font-size: 16px;
  color: #f4f4f4;
}

.contact-text {
  font-size: 18px;
  line-height: 1.5;
  max-width: 310px;
  margin-bottom: 22px;
  color: #ffffff;
}

textarea::placeholder {
  color: #6b6b6b;
}

.btnviewmywork {
  margin-top: 20px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: 42%;
}
.social {
  display: flex;
  flex-direction: row;
  gap: 16px;

  align-items: center;
}
.icon-container {
  width: 50px;
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.email {
  background-color: #161e32;
  height: 60px;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
}
.email:hover {
  box-shadow: 0px 0px 10px #307fff;
}
.email-phone {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
