.workpage {
  display: flex;
  flex-direction: column;
  gap: 68px;
  padding-top: 70px;
}
.my-work {
  font-size: 70px;
  font-weight: 700;
  line-height: 72px;
  margin: 0px;
  padding: 0px;
}
.worklist {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card {
  display: flex;
  flex-direction: row;
  gap: 50px;

  width: 90vm;
  max-width: 1300px;
  border-radius: 20px;
}

.card img {
  width: 600px;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #2184ff;
}
.cardright {
  margin-left: 20%;
}
.description {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;

  width: 420px;
  border-radius: 20px;
  padding: 30px;
}

.card:hover .description {
  transform: translateY(0);
}
.card:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  filter: brightness(50%);
}

.titlework {
  font-size: 29px;
  font-weight: 700;
  text-align: left;
}

.workdesc {
  font-size: 12px;
  font-weight: 400;
  padding: 30px 15px;
  text-align: left;
  line-height: 18px;
}
.no-btns {
  display: flex;
  flex-direction: row;
  gap: 13px;
  padding: 15px 15px;
}
.no-btn {
  background-color: #161e32;
  width: fit-content;
  height: auto;
  padding: 0px 20px;
  text-align: center;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 500;
  color: #007acc;
  box-shadow: 0px 0px 11px #007acc;
}

.btnviewmywork {
  padding: 10px 50px;
  width: fit-content;
  margin-left: auto;
}
